<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>

    <title>Список Студентов</title>
</head>

<body>
    <div class="container" ng-controller="indexController">

        <H1>Студенты</H1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Имя</td>
                    <td>Оценка</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in StudentsList">
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.mark}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteStudentById(student.id)">Отчислить</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Зачислить студента</h3>
        <form novalidate ng-submit="submitCreateNewStudent()">
            <div class="form-group col-md-6">
                <label for="newStudentName">Имя</label>
                <input class="form-control" type="text" ng-model="newStudent.name" id="newStudentName">
            </div>
            <div class="form-group col-md-6">
                <label for="newStudentMark">Оценка</label>
                <input class="form-control" type="number" ng-model="newStudent.mark" id="newStudentMark">
            </div>
            <div>
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</body>

</html>